body{
    background-image: url(GN_I_png_4.png);
    background-size: 100%;
    background-attachment: fixed;
}
.header{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 1536px;
    height: 70px; 
}
.img1{
    margin-top: 5px;
}
.h1{
    color: white;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font-style: italic;
    text-shadow: 10px 0px 0px red;
    font-size: 35px;
}

/*============================*/
/*== Section ==*/

.start{
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.144);
    width: 1000px;
    height: 500px;
    margin-left: 270px;
    display: flex;
}

#block{
    background-image: url(GN_I_png6.png);
    background-size: 100%;
    width: 250px;
    height: 500px;
}
#block2{
    background-color: black;
    background-image: url(GN_I_png2.png);
    background-size: 25%;
    width: 750px;
    height: 500px;
    display: flex;
}

.div, .div1, .div2, .div3{
    background-color: rgb(0, 0, 0);
    background-image: url(GN_I_png1.png);
    background-size: 97%;
    margin-left: 50px;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border: groove 10px grey;
    transition-timing-function: linear;
    transition-duration: 1s;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.459);
}
.div:hover, .div1:hover{
    background-color: red;
    margin-top: 130px;
    margin-left: 150px;
    width: 400px;
    height: 200px;
    border: groove 10px grey;
    transition-duration: 1s;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}
.div2:hover, .div3:hover{
    background-color: red;
    margin-top: 130px;
    margin-right: 150px;
    width: 400px;
    height: 200px;
    border: groove 10px grey;
    transition-duration: 1s;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

.a, .a1, .a2, .a3{
    text-decoration: none;
    color:black;
    transition-duration: 1s;
    text-shadow: 10px 10px 10px grey;
    text-shadow: 5px 0 5px red;
}
.a:hover, .a1:hover, .a2:hover, .a3:hover{
    text-decoration: none;
    color:rgb(255, 0, 0);
    transition-duration: 1s;
    margin-right: 10px;
    margin-top: 20px;
    text-shadow: 10px 15px 10px rgb(54, 54, 54);
    font-size: 30px;
    font-style:oblique;
}

.button, .button1, .button2, .button3, .button4{
    background-color: white;
    width: 150px;
    height: 50px;
    margin-left: 50px;
    margin-top: 20px;
    transition-duration: 2s;
    background-position: fixed;
    box-shadow:10px 10px 10px rgb(85, 84, 84);
    border: groove 10px red;
    cursor: pointer;
}
.button:hover{
    background-color: black;
    background-image: url(GN_I_png1.png);
    background-size: 190px;
    border-radius: 10px;
    margin-left: 25px;
    width: 200px;
    height: 200px;
    transition-duration: 1s;
    border: inset 10px red;
    box-shadow:10px 10px 10px rgb(85, 84, 84);
    
}
.button1:hover{
    background-color: black;
    background-image: url(GN_I_png.png);
    background-size: 200px;
    border-radius: 10px;
    margin-left: 25px;
    width: 200px;
    height: 200px;
    transition-duration: 1s;
    border: inset 10px red;
    box-shadow:10px 10px 10px rgb(85, 84, 84);
}
.button2:hover{
    background-color: black;
    background-image: url(GN_I_png3.png);
    background-size: 200px;
    border-radius: 10px;
    margin-left: 25px;
    width: 200px;
    height: 200px;
    transition-duration: 1s;
    border: inset 10px red;
    box-shadow:10px 10px 10px rgb(85, 84, 84);
}
.button3:hover{
    background-color: black;
    background-image: url(GN_I_png5.png);
    background-size: 200px;
    border-radius: 10px;
    margin-left: 25px;
    width: 200px;
    height: 200px;
    transition-duration: 1s;
    border: inset 10px red;
    box-shadow:10px 10px 10px rgb(85, 84, 84);
}

/*
transition-timing-function: linear;
width: 300px;
height: 200px;
-webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
*/

/* ============= */

.footer{
    background-color: black;
    width: 1536px;
    height: 200px;
    position: fixed;
    left: 0;
    display: flex;
}
hr{
    margin-top: 1px;
    margin-left: 10px;
    top:0;
}
.img{
    border:groove grey 10px ;
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 10px;;
}